@inject IJSRuntime js

<div class="movies-container">
    <GenericList List="Movies">
        <ElementTemplate Context="movie">
            <IndvidualMovie Movie="movie" DeleteMovie="@Delete" />
        </ElementTemplate>
    </GenericList>

</div>


@code {

    [Parameter] public List<Movie> Movies { get; set; }

    async Task Delete(Movie movie)
    {
        bool confirm = await js.Confirm("Are u Sure?!");
        if (confirm)
        {
            await js.Print("Hi");
            Movies.Remove(movie);
        }
    }

}
