
@*<input type="checkbox" @onchange="@(() => Display = !Display)" />*@

<input type="checkbox" @bind="@Display" />


<GenericList List="Movies">
    <ElementTemplate Context="movie">
        <IndvidualMovie Movie="movie" DisplayButtons="Display" DeleteMovie="@Delete" />
    </ElementTemplate>
</GenericList>

@if (ChildContent != null)
{
    @ChildContent
}
else
{
    // equal null
    <p>Child is equal Null</p>
}

@code {

    [Parameter] public List<Movie> Movies { get; set; }
    bool Display = false;
    [Parameter] public RenderFragment ChildContent { get; set; }

    void Delete(Movie movie)
    {
        Movies.Remove(movie);
    }

}
