@page "/movie/create"
@inherits Component

<h3>Create Movie</h3>

<button class="btn btn-primary" @onclick="Save">Save</button>

@code {

    private void Save()
    {
        Nav.NavigateTo("movie");
    }

}
