@page "/movie/create"
@inherits Component
@inject IMoviesRepository rep
@inject IGenreRepository repGenre

<h3>Create Movie</h3>

@if (NotSelctedGenres != null)
{
    <MovieForm Movie="Movie" OnValidSumbit="SaveMovie" NotSelectedGenres="NotSelctedGenres" />
}

@*<button class="btn btn-primary" @onclick="Save">Save</button>*@

@code {

    private Movie Movie = new Movie();
    private List<Genre> NotSelctedGenres;

    protected override async Task OnInitializedAsync()
    {
        NotSelctedGenres = await repGenre.GetGenres();
    }

    private async Task SaveMovie()
    {
        try
        {
            var moveID = await rep.CreateMovie(Movie);
            Nav.NavigateTo($"movie/details/{moveID}/{Movie.Title.Replace(" ", "-")}");

        }
        catch (Exception)
        {

            throw;
        }
    }

}
