@page "/movie/{MovieID:int}"


<h3>Edit Movies</h3>
@if (Movie != null)
{
    <MovieForm Movie="Movie" OnValidSubmit="Edit"/>
}

@code {

    [Parameter] public int MovieID { get; set; }
    //[Parameter] public string MovieName { get; set; }
    private Movie Movie;

    protected override void OnInitialized()
    {
        Console.WriteLine($"ID = {MovieID}");
    }

    private void Edit()
    {
        Console.WriteLine("Edit.");
    }

}
