@page "/counter"
@*@inject SingletonService singleton
    @inject TransientService trans*@


<h1 style="color:@AppStyle.Color; font-size:@AppStyle.Size">Counter</h1>

<div style="display:flex;">
    <div style="width:150px;">
        <select @bind="AppStyle.Color" class="form-control" style="margin-top:15px;">
            <option value="green">Green</option>
            <option value="red">Red</option>
            <option value="black">Black</option>
        </select>
    </div>
    <div style="width:150px;">
        <select @bind="AppStyle.Size" class="form-control" style="margin-top:15px;">
            <option value="12px">12</option>
            <option value="20px">20</option>
            <option value="30px">30</option>
        </select>
    </div>
</div>

<p>Current count: @currentCount</p>
<p>Singleton count: @singleton.Value</p>
<p>Trans count: @trans.Value</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>



@*DataBind*@
<input type="text" @bind="currentCount" />
