@page "/"
@inject IRepository rep

<MoviesList Movies="movies" />
    
<button @onclick="AddMovie">Add</button>

<br/>

@code{

    private List<Movie> movies;

    protected override void OnInitialized()
    {

        #region WaitMilliSecond
        //await Task.Delay(200);

        #endregion

        movies = rep.GetMovies();

        //movies = new List<Movie>()
        //    {
        //        new Movie(){ReleaseDate = new DateTime(2019,5,5), Title = "<h3>Spider-Man</h3>" },
        //        new Movie(){ReleaseDate = new DateTime(2017,5,5), Title = "Iron-Man" }

        //    };
    }

    void AddMovie()
    {
        movies.Add(new Movie() { ReleaseDate = DateTime.Today, Title = "Iron-Man3" });
    }


}


