@page "/person/create"
@inherits Component
@inject IRepositoryPerson personRep

<h3>Create Person</h3>

<PersonForm Person="Person" OnValidSubmit="Create" />

@code {

    Person Person = new Person();

    private async Task Create()
    {

        try
        {
            await personRep.CreatePerson(Person);
            Nav.NavigateTo("person");
        }
        catch (Exception e)
        {

            Console.WriteLine(e.Message);
        }
    }
}
