@page "/person/edit/{PersonID:int}"

<h3>Edit Person</h3>

@if (Person != null)
{
    <PersonForm Person="Person" OnValidSubmit="Edit" />
}

@code {

    [Parameter] public int PersonID { get; set; }

    Person Person;

    protected override void OnInitialized()
    {
        Person = new Person() { Name = "ElonMask", DateOfBirth = DateTime.Today, Biography = "Hi" };
    }

    private void Edit()
    {
        Console.WriteLine("Edit");
    }

}
