@page "/person"
@inject IRepositoryPerson rep

<h3>Index Person</h3>

<div class="form-group">
    <a href="person/create" class="btn btn-info">New Person</a>
</div>

<GenericList List="Person">
    <WholeListTemplate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Person)
                {
                    <tr>
                        <td>
                            <a class="btn btn-success">Edit</a>
                            <button class="btn  btn-danger">Delete</button>
                        </td>
                        <td>@item.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </WholeListTemplate>

</GenericList>

@code {

    List<Person> Person;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Person = await rep.GetPersons();

        }
        catch (Exception e)
        {

            Console.WriteLine(e);
        }
    }

}
